.navbar-btn {
	width: 145px;
	height: 40px;
	color: $head_font_color;
	font: 700 16px/40px $head_font_color;
	border-radius: 5px;
	border: 1px solid #f9fafe;
	background-color: rgba(201, 9, 4, 0);
	&:hover {
		border: 1px solid rgba(38, 38, 38, 0.3);
		background-color: #e7434e;
		color: $secondary_font_color;
		transition: all .6s ease-in-out .1s;
	}
}

.uploading-img {
	display: block;
	width: 310px;
	height: 60px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid rgba(38, 38, 38, 0.3);
	background-color: rgba(113, 113, 113, 0);
	&:hover {
		background-color: #e7434e;
		color: $secondary_font_color;
		transition: all .6s ease-in-out .1s;
	}
}
.secondary-btn {
	display: block;
	max-width: 320px;
	min-width: 300px;
	width: 100%;
	margin: 0 auto;
	height: 60px;
	color: $secondary_font_color;
	font: 700 14px/60px $primary_font;
	border-radius: 5px;
	background-color: #e7434e;
	border: none;
	text-transform: uppercase;

	&:hover {
		border: 1px solid rgba(38, 38, 38, 0.3);
		background-color: $secondary_font_color;
		color: $primary_font_color;
		transition: all .6s ease-in-out .1s;
		text-decoration: none;
	}
}