	@media (min-width: 320px) and (max-width: 768px) {
		.nav {
			position: absolute;
			left: 0;
			top: 70px;
			display: none;
			width: 100%;
			li a {
				border-top: 1px solid #eee;
				background: $secondary_font_color;
				color: $primary_font_color;

				&:hover {
					background: #f0f0f0;
					color: $secondary_font_color;
					border-left: 3px solid $primary_font_color;
				}
			}
		}
		.nav li:first-child a {border-top: none;}
		#touch-menu {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;
			text-decoration: none;

			.fa-bars {font-size: 22px;}
		}
	}
	@media (min-width: 768px) {
		.navbar-btn {
			position: relative;
			bottom: 5px;
		}
		.hero-form {
			.hero-form-btn {border-radius: 0 5px 5px 0;}
			.hero-form-btn {margin-top: 0;}
		}
	}