.question__suggestion {
	width: 100%;
	min-height: 600px;
	padding: 185px 0 160px 0;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url('../../img/photo-14.png')no-repeat center center;
	background-size: cover;
	.secondary-btn {margin-top: 85px;}
}